---
import Layout2 from "@/layouts/Layout2.astro"

import CodeIcon from "@/components/icons/Code.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TitleSection2 from "@/components/TitleSection2.astro"
import AWSProjects from "@/components/AWSProjects.astro"


---

<Layout2
  title="anavalero"
  description=""
>
  <main class="px-4">
    <SectionContainer id="frontendprojects">
      <TitleSection2>
        <CodeIcon class="size-7" />
        AWS Projects 
      </TitleSection2>
      <AWSProjects />
    </SectionContainer>
  </div>
  </main>
</Layout>
