---
import Layout2 from "@/layouts/Layout2.astro"

import CodeIcon from "@/components/icons/Code.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TitleSection2 from "@/components/TitleSection2.astro"
import Frontendprojects from "@/components/FrontendProjects.astro"

---

<Layout2
  title="anavalero"
  description=""
>
  <main class="px-4">
    <SectionContainer id="frontendprojects">
      <TitleSection2>
        <CodeIcon class="size-7" />
        Frontend Projects 
      </TitleSection2>
      <Frontendprojects />
    </SectionContainer>
  </div>
  </main>
</Layout2>
