---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Certifications from "@/components/Certifications.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import StudentHat from "@/components/icons/Student.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Education from "@/components/Education.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Book from "@/components/icons/Book.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import LinkInline from "@/components/LinkInline.astro"

---

<Layout
  title="anavalero"
  description=""
>
  <main class="px-4">
    <SectionContainer id="contact" class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="educacion">
      <TitleSection>
        <StudentHat class="size-8" />
        Education
      </TitleSection>
      <Education />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects 
        <LinkInline href="/MoreProjects">
          More{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      </TitleSection>
      <Projects />
    </SectionContainer>
    <SectionContainer id="certificaciones">
      <TitleSection>
        <Book class="size-8" />
        Certifications
      </TitleSection>
      <Certifications />
    </SectionContainer>
    <SectionContainer id="otherSkills">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Other skills
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
