---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Certifications from "@/components/Certifications.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import StudentHat from "@/components/icons/Student.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Education from "@/components/Education.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Book from "@/components/icons/Book.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="anavalero"
  description=""
>
  <main class="px-4">
    <SectionContainer id="contact" class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="educacion">
      <TitleSection>
        <StudentHat class="size-8" />
        Education
      </TitleSection>
      <Education />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>
    <SectionContainer id="certificaciones">
      <TitleSection>
        <Book class="size-8" />
        Certifications
      </TitleSection>
      <Certifications />
    </SectionContainer>
    <SectionContainer id="otherSkills">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Other skills
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
