---
 const personalImageAlt = "Higth potencial photo experience"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong>Curse High Potential Technical Booster in Edem Escuela de Empresarios Valencia</strong> focused on developing essencial soft skillsand 
      project managment expertise, this program offers hands-on learing with Agile tools and build technical proficiency in AWS and microservices with the objective 
      of handle modern systems.
    </p>

    <p>
      <strong>Debate league for UOC students</strong> this initative is aimed increase critical thinking, teamwork,
      and efectiv communication among de participants. Give the change to refine the public speaking and argumentation
      abilities. 
    </p>
    <p>
      <strong>Intership in te Department of Electronic Engineering and Electrical Engineering</strong> 
      organized by the Universidad Autónoma de Barcelona in 2017, with the 
      objective of providing a comprehensive overview of physics and electronics. A
      ctivities were conducted in English using specialized electronic equipment in laboratories.
      The internship consisted of 50 hours,
      with a certification, organized as part of the Argó Program.
    </p>

  </div>

  <img width="300" height="300" src="/HIPO.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full md:order-2 rotate-3 lg:p-2 lg:w-64 dark:bg-yellow-500/5 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>