---
const personalImageAlt = "Ana Valero Giraldez"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
---
<div class="flex flex-col md:flex-row items-start gap-4">
  <!-- Contenedor del texto y botones -->
  <div class="flex-1 min-w-[300px]">
    <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
      Hello, I'm Ana
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-green-200 [&>strong]:text-green-500 [&>strong]:font-semibold dark:text-gray-300">
      I'm a <strong>software engineer and full-stack developer</strong> who is passionate about making programming notes more accesible for people, creating projects, and building community.
      Some technologies I enjoy working with include <strong>Java, SpringBoot, React (Javascript and Typescript)</strong> and <strong>SQL/noSQL datebases</strong>. 
      I recently worked as <strong>tech lead</strong> of a full-stack project. 
    </p>
    <ul
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-green-200 [&>strong]:text-green-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      <li>💻 Currently working on something cool & learning AWS</li>
    </ul>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:anavalerogi@gmail.com">
        <MailIcon class="size-4" />
        Contact Me
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/ana-valero-giraldez-477765172">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/anavagi">
        <GitHubIcon class="size-4" />
        GitHub
      </SocialPill>
      <SocialPill href="/pdf/AnaValeroGiraldez_cartaRecomendacion.pdf">
        <GitHubIcon class="size-4" />
        CV
      </SocialPill>
    </nav>
  </div>

  <!-- Contenedor de la imagen -->
  <div class="flex-shrink-0">
    <img
      class="rounded-full shadow-lg w-60 h-67"
      src="/anavalero.png"
      alt={personalImageAlt}
    />
  </div>
</div>
